/* This styling applies throughout the website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* This styles the header for the website */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This gives us the font size and color of the company name in the header*/
.horizon {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

/* This styles the links in the header that lead down to corresponding sections of the website */
#skills-list {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.skills {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* This styles the image below the header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This sets up the template for the three sections making up the main part of the website */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This styles the titles in the main section of the website */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This styles the text underneath the titles in the main section of the website */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This styles the images in the main section of the website */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}


/* This styles the sidebar on the right-hand side of the screen */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This styles title text in the sidebar */
.benefits-title {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

/* This styles the text underneath each title in the sidebar */
.benefits-text {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This styles the images in the sidebar */
.benefits-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This styles the footer and the company tagline at the bottom of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#love {
    font-size: 20px;
}
